// Max-width (inclusive)
$max-width--sm: 767px;
$max-width--md: 991px;
$max-width--lg: 1199px;
$max-width--xl: 1999px;

// Min-width (exclusive)
$min-width--sm: 768px;
$min-width--md: 992px;
$min-width--lg: 1200px;
$min-width--xl: 2000px;