$primary-font-colour: #fff;
$primary-font-colour--hover: #fff;
$primary-background-colour: #fff;
$secondary-font-colour: #fff;
$secondary-background-colour: #fff;

$primary-button-font-colour: #fff;
$primary-button-background-colour: #fff;
$primary-button-font-colour--hover: #fff;
$primary-button-background-colour--hover: #fff;
$secondary-button-font-colour: #fff;
$secondary-button-background-colour: #fff;
$secondary-button-font-colour--hover: #fff;
$secondary-button-background-colour--hover: #000;