$black: #343741;
$white: #ffffff;
$light-grey: #eef0ed;
$dark-grey: #3c3c3d;

$primary-colour: $black;
$primary-font-colour: $black;
$heading-font-colour: $black;
$primary-button-font-colour: $white;
$secondary-button-font-colour: $white;

$primary-background-colour: $white;

$primary-button-background-colour: $black;
$secondary-button-background-colour: $primary-colour;

$primary-button-background-colour--hover: #565A68;
$secondary-button-background-colour--hover: #80694B;

$input-font-colour: $black;
$input-background-colour: $light_grey;
$input-border-colour: $black;
$input-placeholder-colour: $black;

