// An example for your convenience
@font-face {
  font-family: "xxx";
  src: url("../fonts/xxx/xxx.woff2") format("woff2"),
    url("../fonts/xxx/xxx.woff") format("woff"),
    url("../fonts/xxx/xxx.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}