
.accordion {
	margin-bottom: 3em;
	
	.accordion-tab {
		display: block;
		width: 100%;
		background: $secondary-font-colour;
		color: #fff;
		padding: 0.8em 1em;
		margin-bottom: 0.8em;
		height: auto;

		.accordion-title {
			margin: 0;
		}
		.accordion-title:after {
			content: "\f068";
			display: inline-block;
			float: right;
			font-family: FontAwesome;
			font-size: 0.875em;
			font-weight: normal;
			font-style: normal;
			line-height: normal;
			font-size:inherit;
			text-rendering:auto;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
			transform:translate(0, 0);
			margin-left: 0.5em;
			vertical-align: middle;	
		}

	}

	.accordion-tab.collapsed {
		.accordion-title:after {
			content: "\f067";
		}
	}

	.accordion-content {
		margin-bottom: 1em;
		border: 1px solid #ccc;
		padding: 1em;

		ul {
			padding-left: 1em;

			li {
				padding-left: 2em;
				margin-bottom: 1em;
			}

			li:before {
			  content: "\f054"; /* FontAwesome Unicode */
			  font-family: FontAwesome;
			  display: inline-block;
			  margin-left: -2em;
			  width: 2em;
			  color: $secondary-font-colour;
			}
		}
	}

	.panel {
		margin-bottom: 0;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		webkit-box-shadow: none;
	}
}