.button {
	display: inline-block;
	font-family: $button-font-stack;
	color: $primary-button-font-colour;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	padding: 1em;
	border: 0px;
	height: auto;
	min-width: 7em;
	
	&:hover,
	&:active,
	&:link,
	&:focus,
	&:visited {
		color: $primary-button-font-colour--hover;
	}
	&.button--primary {
		background: $primary-button-background-colour;
	}

	&.button--secondary {
		background: $secondary-button-background-colour;
	}
	&.button--arror:after {
		content: "\f054";
		display:inline-block;
		font:normal normal normal 14px/1 FontAwesome;
		font-size:inherit;
		text-rendering:auto;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		transform:translate(0, 0);
		margin-left: 0.5em;
	}
}



