.flexslider-wrapper {
	overflow: hidden; // apply [.full-height-gallery] on html to get hero gallery full-height
	html.full-height-gallery & {
		height: 100%;
		.flexslider.hero-gallery {
			height: 100%;
			padding-bottom: 0;
			ul.slides,
			li {
				height: 100%;
				.image-center {
					padding-bottom: 0 !important;
					height: 100% !important;
				}
			}
		}
	}
	.flexslider {
		overflow: visible;
	}
}

.flexslider {
	margin: 0px;
	padding: 0px;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	position: relative;
	background: $primary-background-colour none;
	min-height: 100px;
	overflow: hidden;
	.slides {
		background: $primary-background-colour none;
		li {
			position: relative;
		}
	} // &:hover {
	.flex-prev,
	&:hover .flex-direction-nav .flex-prev {
		left: 0px;
		opacity: 1;
		padding-right: 0.5em;
	}
	.flex-next,
	&:hover .flex-direction-nav .flex-next {
		right: 0px;
		opacity: 1;
		padding-left: 0.5em;
	} // }
	.flex-direction-nav {
		a {
			height: 4em;
			width: 4em;
			color: #ffffff;
			margin-top: -2em;
			text-align: center;
			background-color: rgba(255, 255, 255, 0.3);
			color: transparent;
			&:before {
				display: block;
				color: #ffffff;
				line-height: 1.333;
				text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
			}
			&.flex-next:before {
				content: "\f105";
				font-family: 'Font Awesome 5 Pro';
				font-weight: 300;
				font-size: 3em;
			}
			&.flex-prev:before {
				content: "\f104";
				font-family: 'Font Awesome 5 Pro';
				font-weight: 300;
				font-size: 3em;
			}
		}
	}
	.flex-control-nav {
		top: auto;
		bottom: 1em;
		right: 0px;
		left: 0px;
		z-index: 10;
		line-height: 1;
		li {
			margin-left: 0.375em;
			margin-right: 0.375em;
			a {
				width: 10px;
				height: 10px;
				background: #ffffff;
				-o-box-shadow: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
				border-radius: 0;
				&.flex-active {
					background: $primary-colour;
					-o-box-shadow: none;
					-moz-box-shadow: none;
					-webkit-box-shadow: none;
					box-shadow: none;
				}
			}
		}
	}
	.slides>li .image-center {
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		&>img {
			display: none;
		}
	}
}

html.ie9 .flexslider .flex-direction-nav {
	a.flex-next:before {
		font-size: 64px;
	}
	a.flex-prev:before {
		font-size: 64px;
	}
}

html.no-backgroundsize .flexslider .slides>li .image-center {
	background-image: none !important;
	&>img {
		display: block;
	}
}

$home-gallery-pd-btm: 40%;
$home-gallery-pd-btm--tablet: 65%;

$gallery-pd-btm: 15.625%;
$gallery-pd-btm--tablet: 65%;

.hero-gallery {
	&, & .image-center {
		padding-bottom: $gallery-pd-btm;
		height: 0px;

		@include tablet() {
			padding-bottom: $gallery-pd-btm--tablet;
		}

		.template-home & {
			padding-bottom: $home-gallery-pd-btm;

			@include tablet() {
				padding-bottom: $home-gallery-pd-btm--tablet;
			}
		}
	}
	&__overlay {
		display: block;
		position: absolute;
		top: 50%;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: 0.65;
		background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, #000000 100%);
	}
	.hero-gallery-video,
	.hero-gallery-big-video,
	#big-video-container,
	#big-video-wrap {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}
	.hero-gallery-big-video-skip,
	.hero-gallery-big-video-play,
	.hero-gallery-big-video-pause {
		display: none;
		position: absolute;
		bottom: 0px;
		right: 48px;
		z-index: 99;
		cursor: pointer;
		padding: 1em 1em 0.875em 1em;
		color: #ffffff;
		text-transform: uppercase;
		background-color: rgba(0, 0, 0, 0.45);
		text-decoration: none;
		line-height: 1;
	}
	.hero-gallery-big-video-pause {
		right: auto;
		left: 0px;
	}
	.slides li>a {
		display: block;
		position: relative;
	}
	.caption {
		display: block;
		position: absolute;
		top: 2.5em;
		bottom: 2.5em;
		left: 0px;
		right: 0px;
		z-index: 1;
		color: #ffffff;
		margin: auto;
		text-align: center; // @media(max-width: $max-width--xs) {

		&--top-left {
			text-align: left;
			.valign {
				vertical-align: top;
			}
		}
		&--top-center {
			text-align: center;
			.valign {
				vertical-align: top;
			}
		}
		&--top-right {
			text-align: right;
			.valign {
				vertical-align: top;
			}
		}
		&--middle-left {
			text-align: left;
			.valign {
				vertical-align: middle;
			}
		}
		&--middle-center {
			text-align: center;
			.valign {
				vertical-align: middle;
			}
		}
		&--middle-right {
			text-align: right;
			.valign {
				vertical-align: middle;
			}
		}
		&--bottom-left {
			text-align: left;
			.valign {
				vertical-align: bottom;
			}
		}
		&--bottom-center {
			text-align: center;
			.valign {
				vertical-align: bottom;
			}
		}
		&--bottom-right {
			text-align: right;
			.valign {
				vertical-align: bottom;
			}
		} 
		.caption-heading {
			text-transform: uppercase;
			font-family: $heading-font-stack;
			font-weight: bold;
			font-size: 4em;
			line-height: 1.25;
			margin: auto;
			@media(max-width: $max-width--xs) {
				font-size: 2em;
			}
		}
		.caption-description {
			font-size: 1.5em;
			margin-top: 0.675em;
			@media(max-width: $max-width--xs) {
				font-size: 1em;
			}
		}
	}
}

html.touch .hero-gallery .hero-gallery-big-video-play {
	display: block;
}

@media(max-width: $max-width--xs) {
	.flexslider.hero-gallery .flex-direction-nav {
		display: none;
	}
	.hero-gallery {
		padding-bottom: 0px;
		height: auto;
	}
	.hero-gallery .caption,
	.hero-gallery .caption .valign,
	.hero-gallery .caption .caption-heading,
	.hero-gallery .caption .caption-description,
	.hero-gallery .caption .caption-link {
		max-width: 100%;
		width: 100%;
		text-align: center;
	}
	.hero-gallery .caption .valign {
		padding: 0px;
	}
	.hero-gallery .caption .caption-link {
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
		width: auto;
	}
	.hero-gallery .image-center,
	.hero-gallery #big-video-container,
	.hero-gallery .placeholder {
		padding-bottom: 62.5%;
		height: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}
	.hero-gallery .placeholder {
		display: block;
		width: 100%;
		position: static;
	}
}

.flexslider.byheight {
	height: 100%;
	.slides,
	li {
		height: 100%;
	}
}

.fancybox-enlarge {
	position: relative;
	&:before {
		content: "\f00e";
		font-family: "FontAwesome";
		font-size: 2em;
		color: $white;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;
	}
}