.header {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
	z-index: 999;
	text-align: center;
	background-color: $white;
	@include transition(.35s, 0s);
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 90px;
		background: $white;
		opacity: 0;
		@include transition(.3s, 0s);
	}
	&__navigation {
		position: relative;
		z-index: 1;
		@extend .container;
	}
	&__logo {
		display: block;
		width: 280px;
		position: absolute;
		top: .8em;
		left: 1em;
		z-index: 1;
		@media(max-width: 1199px) {
			width: 200px;
		}
	}
	&__nav-toggle {
		display: none;
	}
	&__menu-item {
		display: inline-block;
		&--home {
			display: none;
		}
		&>a {
			display: inline-block;
			padding: 2em 1em;
			font-family: $heading-font-stack;
			font-size: 1em;
			letter-spacing: 0.36px;
			color: $white;
			@include transition(.25s, 0s);
		}
	}
	&__contacts {
		position: absolute;
		top: 1.5em;
		right: 1em;
		z-index: 1;
		color: $white;
		@media(max-width: 1199px) {
			top: 1.7em;
		}
	}
	&__contact {
		display: inline-block;
		padding: 0 1em 0 .5em;
		font-family: $heading-font-stack;
		font-size: 1em;
		letter-spacing: 0.36px;
		color: $white;
		@include transition(.25s, 0s);
	}
	&__contact-icon {
		color: $black;
	}
	&__dropdown {
		display: inline-block;
		margin-left: .5em;
	}
	&__submenu {
		padding: 0;
		list-style: none;
		display: none;
		position: absolute;
		top: 88px;
		right: 0;
		bottom: auto;
		left: calc((100vw - 1140px)/-2);
		z-index: 1;
		width: 100vw;
		background-color: $light-grey;
		color: $dark-grey;
		opacity: 0;
		@include transition(.25s, 0s);
		.header__menu-item:hover>& {
			display: block;
			opacity: 1;
			@include transition(.25s, 0s);
		}
	}
	&__submenu-item {
		display: inline-block;
		padding: 1.5em 2em;
		text-align: center;
	}
	&__menu-item,
	&__submenu-item {
		&.active>a {
			text-decoration: none;
			color: $black;
		}
	}
	&__socials {
		display: none;
		text-align: center;
	}
	&__social {
		display: inline-block;
		padding: .5em;
		color: $white;
	}
	/** on scroll **/
	&--scroll {
		@media(min-width: 768px) {
			.header {
			}
		}
		@include transition(.3s, 0s);
	}
	/** END on scroll **/
}

/** Mobile **/

@media(max-width: 767px) {
	.header {
		background: $white;
		@include transition-on(background, .35s, 0.15s);
		&__contacts {
			display: none;
		}
		&__logo {
			left: 0;
			top: 12px;
			width: 140px;
			svg {}
		}
		&__navigation {
			padding: 0;
			min-height: 55px;
		}
		&__menu-wrap {
			max-height: 0;
			height: 100%;
			position: relative;
			top: 55px;
			background-color: #000000;
			transform: translateY(-460px);
			@include transition(.25s, 0s);
		}
		&__menu-item {
			display: block;
			&>a {
				display: block;
				color: $white;
			}
		}
		&__dropdown {
			float: right;
			margin: 0;
			position: relative;
			right: 2em;
			z-index: 1;
			@include transition(.2s, 0s);

			.header__menu-item.open & {
				transform: rotate(-180deg);
			}
		}
		&__submenu {
			position: static;
			display: none;
			background-color: rgba(255, 255, 255, 0.15);
			.header__menu-item:hover>& {
				display: none;
			}
			.header__menu-item.open>& {
				display: block;
			}
		}
		&__submenu-item {
			text-align: center;
		}
		&__submenu-item>a {
			color: $white;
		}
		&__nav-toggle {
			display: block;
			float: right;
			position: relative;
			top: 1.3em;
			right: 1em;
			margin: 0;
			text-align: center;
			color: $black;
			-o-border-radius: 0px;
			-moz-border-radius: 0px;
			-webkit-border-radius: 0px;
			-ms-border-radius: 0px;
			border-radius: 0px;
			&__bars-wrap {
				position: relative;
				display: inline-block;
				width: 20px;
				height: 24px;
			}

			&__bars {
				position: absolute;
				width: 20px;
				height: 2px;
				top: 50%;
				display: block;
				margin-top: -2px;
				transition-property: transform;
				border-radius: 4px;
				background-color: $primary-colour;
				transition-timing-function: cubic-bezier(.55, .055, .675, .19);
				transition-duration: 75ms;

				&:before,
				&:after {
					display: block;
					content: "";
					position: absolute;
					width: 20px;
					height: 2px;
					border-radius: 4px;
					background-color: $primary-colour;
				}

				&:before {
					top: -5px;
					transition: top 75ms ease .12s, opacity 75ms ease;
				}

				&:after {
					bottom: -5px;
					transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19);
				}
		}
		
		
		}
	}
	.menu-open {
		/** Navigation toggled open **/
		.header {
			background: #000000;
			bottom: 0;
			@include transition-on(background, .35s, 0s);
			
			&__menu-wrap {
				max-height: 1000px;
				transform: translateY(0);
				@include transition(.25s, 0s);
			}
			&__nav-toggle {
				&__bars {
					transition-delay: .12s;
					transition-timing-function: cubic-bezier(.215, .61, .355, 1);
					transform: rotate(45deg);
					&:before {
						top: 0;
						transition: top 75ms ease,
						opacity 75ms ease .12s;
						opacity: 0;
					}
					&:after {
						bottom: 0;
						transition: bottom 75ms ease,
						transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
						transform: rotate(-90deg);
					}
				}
			}
			&__socials {
				display: block;
				position: absolute;
				right: 0;
				bottom: 4em;
				left: 0;
				z-index: 1;
			}
		}
	}
}

/** END Mobile **/