.wysiwyg-content {
	margin-bottom: 0 !important;
	@media(max-width: $max-width--sm) {
		margin-bottom: 1.5em !important;
	}

	p {
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
        padding: 0px;
        margin: 0px;
        margin-bottom: 0.75em;

		&:last-child {
			margin-bottom: 0;
		}
	}
	
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
}

// @Todo: organise following
.page-content {
	margin: 3em auto 3em auto;

	@media (max-width: $max-width--sm) {
		margin: 2em auto 2em auto;
	}

	.page-heading {
		margin: -0.125em 0px 0px 0px;
		padding: 0px 0px 0.25em 0px;
		border-bottom: 1px solid #9b9b9b;
	}
	.wysiwyg-content {
		margin-top: 3em;
		&:first-child {
			margin-top: 0px;
		}

		ul {
			display: block;
			margin: 0px 0px 1em 0px;
			padding: 0px 0px 0px 1em;
			list-style-type: disc;
		}

		p {
			padding: 0px;
			margin: 0px 0px 1em 0px;
			&:last-child {
				margin: 0px;
			}
		}
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0.25em;
		}
	}
}

.page-content 

.page-content 

.page-content .wysiwyg-content

.wysiwyg-content 

.wysiwyg-content 

.wysiwyg-content p

.wysiwyg-content h1,
.wysiwyg-content h2,
.wysiwyg-content h3,
.wysiwyg-content h4,
.wysiwyg-content h5,
.wysiwyg-content h6 
